<p id="notice"><%= notice %></p>

<h1>All Boards</h1>

<% @boards.each do |board| %>
    <td><%= link_to 'Edit', edit_board_path(board)%></td>
    <td><%= link_to 'Delete', board, method: :delete %></td>

  <% end %>
<%= link_to 'Back', boards_path %>
